# 输出文件
__pycache__

transformer/.data

bert_torch/data/glue_data
bert_torch/data/output
bert_d2l/data


vision_transformer/data
vision_transformer/model
vision_transformer/runs

swim_transformer/data
swim_transformer/model
swim_transformer/runs


