# 输出文件
__pycache__

dl_algo/transformer/\.data
dl_algo/transformer\.data
dl_algo/transformer/tmp_model

dl_algo/bert_torch/data/glue_data
dl_algo/bert_torch/data/output
dl_algo/bert_d2l/data


dl_algo/vision_transformer/data
dl_algo/vision_transformer/model
dl_algo/vision_transformer/runs

dl_algo/swim_transformer/data
dl_algo/swim_transformer/model
dl_algo/swim_transformer/runs

dl_algo/mixture_of_experts/data
dl_algo/mixture_of_experts/model